:root {
  --white: #ffffff;
  --black: #212121;
  --accent: #dc6601;
  --translucent: rgba(0, 0, 0, 0.5);
  --radius-sm: 0.25rem;
  --transition: 0.3s cubic-bezier(0.24, 0, 0.5, 1);
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  color-scheme: light dark;
}

body {
  padding-inline: 1.25rem;
  padding-block: 2rem;
  background-color: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
  transition: all var(--transition);
  overflow: clip;
  overflow-y: auto;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-flex;
  width: fit-content;
  border: none;
  border-radius: var(--radius-sm);
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
